@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,300,100);
body { font-weight:300 !important; }
h1, h2, h3, h4, h5, h6 {
	margin:0;
	text-transform:uppercase;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong { font-weight:100; }
h1, h2, h3 { text-align:center; }
.archive_h {
	font-size:20px;
	line-height:22px;
	text-transform:uppercase;
	font-weight:bold;
	text-align:left;
	margin-bottom:10px;
}
a, a:visited {
	-webkit-transition:color 0.3s ease;
	-moz-transition:color 0.3s ease;
	-o-transition:color 0.3s ease;
	transition:color 0.3s ease;
	outline:medium none !important;
	text-decoration:none !important;
}
a:hover, a:visited:hover {
	text-decoration:none !important;
	outline:medium none !important;
	color:#9f541d;
}
a:active, a:visited:active { text-decoration:none !important; }
.wide { position:relative; }
ul, ol {
	padding:0;
	margin:0;
}
.thumbnail, .featured-thumbnail {
	margin-top:0;
	box-shadow:none !important;
	padding:0;
	border:0;
	border-radius:0;
}
.main-holder {
	overflow:hidden;
	position:relative !important;
}
.main-holder input[type="text"], .main-holder input[type="email"], .main-holder textarea {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#fff;
	font:300 15px/24px 'Lato', sans-serif;
	border-color:rgba(255,255,255,0.2);
	background:none;
	border-radius:0;
	box-shadow:none !important;
	height:60px !important;
	max-width:100%;
	padding:19px 30px 17px !important;
	-webkit-transition:0.4s ease !important;
	-moz-transition:0.4s ease !important;
	-o-transition:0.4s ease !important;
	transition:0.4s ease !important;
}
.main-holder input[type="text"]:-moz-placeholder, .main-holder input[type="email"]:-moz-placeholder, .main-holder textarea:-moz-placeholder { color:#fff; }
.main-holder input[type="text"]:-ms-input-placeholder, .main-holder input[type="email"]:-ms-input-placeholder, .main-holder textarea:-ms-input-placeholder { color:#fff; }
.main-holder input[type="text"]::-webkit-input-placeholder, .main-holder input[type="email"]::-webkit-input-placeholder, .main-holder textarea::-webkit-input-placeholder { color:#fff; }
.main-holder input[type="text"]:focus, .main-holder input[type="email"]:focus, .main-holder textarea:focus { border-color:#fff; }
.main-holder #respond #commentform input[type="text"], .main-holder #respond #commentform input[type="email"], .main-holder #respond #commentform textarea, .main-holder #sidebar .search-form input[type="text"], .main-holder #sidebar .search-form input[type="email"], .main-holder #sidebar .search-form textarea {
	border-color:#372d2b;
	color:#372d2b;
}
.main-holder #respond #commentform input[type="text"]:-moz-placeholder, .main-holder #respond #commentform input[type="email"]:-moz-placeholder, .main-holder #respond #commentform textarea:-moz-placeholder, .main-holder #sidebar .search-form input[type="text"]:-moz-placeholder, .main-holder #sidebar .search-form input[type="email"]:-moz-placeholder, .main-holder #sidebar .search-form textarea:-moz-placeholder { color:#372d2b; }
.main-holder #respond #commentform input[type="text"]:-ms-input-placeholder, .main-holder #respond #commentform input[type="email"]:-ms-input-placeholder, .main-holder #respond #commentform textarea:-ms-input-placeholder, .main-holder #sidebar .search-form input[type="text"]:-ms-input-placeholder, .main-holder #sidebar .search-form input[type="email"]:-ms-input-placeholder, .main-holder #sidebar .search-form textarea:-ms-input-placeholder { color:#372d2b; }
.main-holder #respond #commentform input[type="text"]::-webkit-input-placeholder, .main-holder #respond #commentform input[type="email"]::-webkit-input-placeholder, .main-holder #respond #commentform textarea::-webkit-input-placeholder, .main-holder #sidebar .search-form input[type="text"]::-webkit-input-placeholder, .main-holder #sidebar .search-form input[type="email"]::-webkit-input-placeholder, .main-holder #sidebar .search-form textarea::-webkit-input-placeholder { color:#372d2b; }
.main-holder #respond #commentform .comment_submit, .main-holder #sidebar .search-form .comment_submit { text-align:center; }
.main-holder .search-form input[type="text"] { width:370px; }
.main-holder .header .search-form { margin-right:90px; }
.main-holder .header .search-form input[type="text"], .main-holder .header .search-form input[type="submit"] {
	margin-top:0;
	min-width:0 !important;
}
.main-holder textarea { height:200px !important; }
.main-holder div.wpcf7 {
	margin-bottom:37px;
	padding-top:4px;
}
.main-holder div.wpcf7 p.field {
	margin-bottom:10px;
	overflow:visible;
}
.main-holder div.wpcf7 .submit-wrap {
	text-align:center;
	padding-top:20px;
}
.main-holder div.wpcf7 .submit-wrap .ajax-loader { display:none !important; }
.main-holder div.wpcf7 .submit-wrap input { margin:0; }
.main-holder div.wpcf7 .submit-wrap input[type="reset"] { margin-right:30px; }
.main-holder input[type="submit"], .main-holder input[type="reset"] {
	text-align:center;
	min-width:174px;
	height:60px;
	background-color:#372d2b !important;
}
.main-holder input[type="submit"]:hover, .main-holder input[type="submit"]:focus, .main-holder input[type="reset"]:hover, .main-holder input[type="reset"]:focus { background-color:#9f541d !important; }
.home .main-holder .footer { border:0; }
@media (min-width: 1265px) {
	.home .main-holder .footer {
		position:absolute;
		bottom:0;
		left:50%;
		z-index:10;
		width:1170px;
		margin:0 0 0 -585px;
	}
}
.span12[data-motopress-static-file="static/static-slider.php"] { min-height:0; }
.header {
	border:0;
	padding:40px 0 46px;
	background:url(images/parallax-1.jpg) center bottom no-repeat;
	-webkit-background-size:100% auto !important;
	-moz-background-size:100% auto !important;
	-o-background-size:100% auto !important;
	background-size:100% auto !important;
}
.home .header {
	padding:40px 0 0;
	background:none;
	position:absolute;
	left:0;
	right:0;
	top:0;
}
.home .header:after { display:none; }
.header:after {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:url(images/angle-1.png) 0 0 no-repeat;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;
	content:'';
	display:block;
	height:90px;
	z-index:-1;
}
.logo { padding-left:40px; }
.logo_tagline {
	margin:0;
	font-size:20px;
	text-transform:uppercase;
	color:#fff;
	padding-top:3px;
}
.logo h1 { text-align:left; }
.logo a:hover, .logo a:visited, .logo a:active { color:#fff !important; }
.pseudoStickyBlock { display:none !important; }
.menu-holder {
	position:absolute !important;
	height:100%;
	top:0;
	right:0;
	z-index:999;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
.menu-holder .menu-icon, .menu-holder .menu-close-icon {
	position:absolute;
	visibility:visible;
	top:0px;
	cursor:pointer;
	z-index:5;
	width:32px;
	height:32px;
	text-align:center;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.menu-holder .menu-icon:before, .menu-holder .menu-close-icon:before {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	font:25px/32px FontAwesome;
	color:#fff;
	display:block;
}
.menu-holder .menu-icon:hover:before, .menu-holder .menu-close-icon:hover:before {
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
}
.menu-holder .menu-icon {
	right:34px;
	top:32px;
}
.menu-holder .menu-icon:before {
	font-size:18px;
	content:'';
}
.menu-holder .menu-close-icon {
	top:-75px;
	right:176px;
}
.menu-holder .menu-close-icon:before { content:'\'; }
.menu-holder .menu-overlay {
	position:absolute;
	width:0;
	top:-40px;
	right:0;
	bottom:0;
	background:rgba(36,29,28,0.9);
	z-index:-1;
}
.menu-holder .menu-wrapper { width:237px; }
.menu-holder.menu-hidden .menu-wrapper {
	padding:0;
	width:0;
}
.menu-holder.menu-hidden ul ul { display:none !important; }
.menu-holder.isStuck { position:fixed !important; }
.menu-holder.isStuck .menu-icon { background-color:#372d2b; }
@media (max-width: 767px) {
	.menu-holder.menu-holder.menu-hidden {
		height:34px;
		left:0;
		right:0;
		padding:20px;
	}
	.menu-holder.menu-holder.menu-hidden .menu-wrapper { width:100%; }
	.menu-holder.menu-holder.menu-hidden .menu-overlay { width:100%; }
	.menu-holder.menu-holder.menu-hidden .menu-icon, .menu-holder.menu-holder.menu-hidden .menu-close-icon { display:none; }
}
.select-menu { height:34px; }
#topnav {
	padding:83px 0;
	float:none;
}
#topnav>li>a { position:relative; }
#topnav>li>a:before {
	content:attr(data-hover);
	position:absolute;
	opacity:0;
	top:0;
	overflow:hidden;
	bottom:0;
	left:100%;
	color:#5d504c;
	-webkit-transform:scale(1.2);
	-moz-transform:scale(1.2);
	-ms-transform:scale(1.2);
	-o-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition:0.4s ease;
}
#topnav li {
	position:relative;
	left:290px;
	display:block;
	padding-left:40px;
	float:none;
	text-align:left;
	background:none;
}
#topnav li a {
	position:relative;
	display:inline-block;
	padding:0px;
	border:none;
	z-index:3;
	background:none !important;
	text-transform:uppercase;
}
#topnav li a .sf-sub-indicator {
	font-size:0;
	top:40%;
	right:-15px;
	background:url(images/arrows-ffffff.png) 0 0px no-repeat;
}
#topnav li .sf-sub-indicator {
	left:auto !important;
	right:-15px !important;
	top:50% !important;
	margin-top:-5px;
	z-index:10;
	width:10px;
	height:10px;
}
#topnav li .sub-menu {
	background:rgba(36,29,28,0.9);
	position:absolute;
	top:0px;
	width:180px;
	padding:4px 5px;
	right:100%;
	left:auto;
}
#topnav li .sub-menu .sub-menu { margin-left:-17px; }
#topnav li .sub-menu li {
	padding:0;
	width:auto;
	float:none;
	display:block;
	left:0;
	text-align:center;
	background:none;
	position:relative;
}
#topnav li .sub-menu li a {
	padding:3px 10px;
	white-space:nowrap;
	display:block;
	position:relative;
	border:none;
	font-size:17px;
	line-height:27px;
	color:#fff;
	font-weight:bold;
}
#topnav li .sub-menu li a .sf-sub-indicator {
	top:7px;
	right:25px !important;
	background:url(images/arrows-ffffff.png) 0 0 no-repeat;
}
#topnav li .sub-menu li > a:hover, #topnav li .sub-menu li.sfHover > a, #topnav li .sub-menu li.current-menu-item > a {
	color:#5d504c;
	background:none;
}
#topnav li .sub-menu li > a:hover .sf-sub-indicator, #topnav li .sub-menu li.sfHover > a .sf-sub-indicator, #topnav li .sub-menu li.current-menu-item > a .sf-sub-indicator { background:url(images/arrows-ffffff.png) -10px 0 no-repeat; }
#topnav li:first-child { margin-left:0; }
#topnav li.active-menu-item > a, #topnav li.current-menu-item > a, #topnav li.sfHover > a, #topnav li a:hover, #topnav li.current_page_item > a {
	color:transparent;
	background:none;
}
#topnav li.active-menu-item > a:before, #topnav li.current-menu-item > a:before, #topnav li.sfHover > a:before, #topnav li a:hover:before, #topnav li.current_page_item > a:before {
	left:0;
	opacity:1;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
#topnav li.active-menu-item > a .sf-sub-indicator, #topnav li.current-menu-item > a .sf-sub-indicator, #topnav li.sfHover > a .sf-sub-indicator, #topnav li a:hover .sf-sub-indicator, #topnav li.current_page_item > a .sf-sub-indicator { background:url(images/arrows-ffffff.png) -10px 0px no-repeat; }
.content-holder {
	z-index:100;
	padding-top:0;
}
.home .content-holder {
	z-index:1;
	padding:0px;
}
.home .content-holder h2 { margin-bottom:42px; }
.home .content-holder h4 { margin-bottom:17px; }
#content, #sidebar { padding-top:0; }
#sidebar h3 {
	font-size:20px;
	line-height:27px;
}
#wp-calendar caption, #wp-calendar thead th { color:#9f541d; }
.title-section {
	padding-top:0;
	margin-top:-31px;
}
.title-section .breadcrumb__t {
	background:none;
	border-radius:0;
	float:right;
}
.title-section .breadcrumb__t li {
	text-shadow:none;
	font-size:18px;
	line-height:26px;
	text-transform:uppercase;
	font-weight:normal !important;
}
.title-section .breadcrumb__t li.divider {
	width:42px;
	display:inline-block;
	text-align:center;
}
.title-section .breadcrumb__t li.divider:after {
	font:20px/27px 'FontAwesome';
	color:#383230;
	content:'';
}
.title-section .title-header {
	clear:both;
	padding-top:62px;
	margin-bottom:47px;
}
.filter-wrapper strong { padding:0; }
.filter-wrapper .nav-pills li a {
	background:none !important;
	padding-top:0;
	padding-bottom:0;
	line-height:24px;
	margin-top:0;
	margin-bottom:0;
}
.filter-wrapper .nav-pills li.active a {
	background:none !important;
	color:#9f541d;
}
.caption__portfolio h3 {
	font-size:18px;
	line-height:22px;
	margin-bottom:15px;
	text-align:left;
}
.thumbnail__portfolio { margin-bottom:25px; }
.testimonial {
	background:none;
	border:3px solid #372d2b;
}
.post-author {
	background-color:transparent;
	border:0;
	padding:31px 25px 20px;
	border:4px solid #372d2b;
}
.post-author_h {
	margin-bottom:13px;
	text-align:left;
	font-size:20px;
	line-height:24px;
	font-weight:bold;
}
.post-author img {
	padding:5px 0 0;
	background:none;
	border:0;
}
.post-author_desc {
	margin-top:0 !important;
	font-size:14px;
	line-height:22px;
}
.post-author_link { margin-top:8px; }
.post-author_link p {
	font-size:15px;
	line-height:23px;
	font-weight:normal !important;
}
.post-author_link p a { color:#372d2b; }
.post-author_link p a:hover { color:#bab5b1; }
#comments { padding-top:18px; }
#comments .comment-body {
	background-color:transparent;
	border:4px solid #372d2b;
	padding:20px 25px 20px;
	margin-bottom:10px;
}
#comments .comment-author {
	background-color:#000;
	position:relative;
	top:7px;
}
#comments .comment-author img { opacity:0.2; }
#comments .comment .children { margin-left:100px; }
#comments .comments-h {
	font-size:50px;
	text-align:center;
	line-height:71px;
}
#comments .links {
	font-size:15px;
	line-height:18px;
	text-transform:capitalize;
	font-weight:normal;
	color:#bab5b1;
}
#comments .links a { color:#bab5b1; }
#comments .links a:hover { color:#372d2b; }
#comments .links .author { font-weight:bold; }
#comments .comment-reply-link { float:right; }
#comments .comment-data {
	margin:0 5px;
	padding:0 10px;
	border-left:1px solid #bab5b1;
	border-right:1px solid #bab5b1;
	color:#372d2b;
	display:inline-block;
}
#comments p { margin-bottom:10px; }
.parallax-box.parallax-1 { margin-bottom:38px; }
.parallax-box.parallax-1 .parallax-content {
	padding:291px 0 326px;
	color:#fff;
	text-align:center;
}
.parallax-box.parallax-1 .parallax-content h2 {
	color:#fff;
	letter-spacing:-1px;
	margin:0 !important;
}
.parallax-box.parallax-1 .parallax-bg:after {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:url(images/angle-1.png) 0 0 no-repeat;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;
	content:'';
	display:block;
	height:90px;
}
.parallax-box.parallax-2 { margin-top:47px; }
.parallax-box.parallax-2 .parallax-content {
	padding:124px 0 165px;
	color:#fff;
}
.parallax-box.parallax-2 .parallax-content h2 {
	color:#fff;
	letter-spacing:-1px;
	padding-bottom:11px;
}
.parallax-box.parallax-2 .parallax-content h4 { color:#fff; }
.parallax-box.parallax-2 .parallax-bg:after {
	position:absolute;
	left:0;
	right:0;
	top:0;
	background:url(images/angle-1.png) 0 0 no-repeat;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;
	content:'';
	display:block;
	height:90px;
	-webkit-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
.parallax-box.parallax-2 .parallax-bg:before {
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	background:url(images/angle-2.png) 0 0 no-repeat;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;
	content:'';
	display:block;
	height:90px;
	z-index:10;
}
.parallax-box.parallax-3 .parallax-content {
	padding:140px 0 22px;
	color:#fff;
	text-align:center;
}
.parallax-box.parallax-3 .parallax-content h2 {
	color:#fff;
	letter-spacing:-1px;
	padding-bottom:11px;
}
.parallax-box.parallax-3 .parallax-content h4 {
	color:#fff;
	margin-bottom:6px;
}
.parallax-box.parallax-3 .parallax-content a { color:#fff; }
.parallax-box.parallax-3 .parallax-content a:hover { color:#9f541d; }
.parallax-box.parallax-3 .parallax-content figure.aligntextcenter { display:inline-block; }
.parallax-box.parallax-3 .parallax-content figure.aligntextcenter+figure.aligntextcenter { margin-left:11px; }
.parallax-box.parallax-3 .parallax-bg:after {
	position:absolute;
	left:0;
	right:0;
	top:0;
	background:url(images/angle-1.png) 0 0 no-repeat;
	-webkit-background-size:100% 100% !important;
	-moz-background-size:100% 100% !important;
	-o-background-size:100% 100% !important;
	background-size:100% 100% !important;
	content:'';
	display:block;
	height:90px;
	-webkit-transform:rotateX(180deg);
	-ms-transform:rotateX(180deg);
	-o-transform:rotateX(180deg);
	transform:rotateX(180deg);
}
.spacer {
	height:26px;
	clear:both;
}
.content_box {
	padding:54px 0 21px;
	color:#fff;
	background-color:#241d1c;
	margin-bottom:73px;
}
.content_box:after { display:none; }
.content_box:before {
	left:-3000px;
	right:-3000px;
	background-color:#241d1c;
	z-index:-1;
	top:0;
	bottom:0;
	width:auto !important;
}
.testimonials .testi-item blockquote {
	padding:0;
	background:none;
	border-radius:0;
}
.testimonials .testi-item blockquote:before, .testimonials .testi-item blockquote:after { display:none; }
.testimonials .testi-item blockquote a { color:#fff; }
.testimonials .testi-item blockquote a:hover { color:#9f541d; }
.testimonials .testi-item blockquote i {
	margin-bottom:11px;
	padding-top:28px;
	display:block;
	font-size:76px;
}
.testimonials .testi-item blockquote .featured-thumbnail {
	margin-left:0;
	margin-right:30px;
	width:auto;
	height:auto;
}
.testimonials .testi-item blockquote .featured-thumbnail img { border-radius:500px; }
.testimonials .testi-item blockquote .testi-meta {
	padding-top:21px;
	padding-left:0;
	font-size:18px;
	font-weight:bold;
}
.testimonials .testi-item blockquote .testi-meta .user:after { display:none; }
.portfolio-shortcode {
	position:relative;
	margin-bottom:49px;
	padding-top:5px;
}
.portfolio-shortcode .portfolio_filter_buttons {
	overflow:hidden;
	text-align:center;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button {
	-webkit-transition:all 0.35s ease;
	-moz-transition:all 0.35s ease;
	-o-transition:all 0.35s ease;
	transition:all 0.35s ease;
	position:relative;
	cursor:pointer;
	overflow:hidden;
	display:inline-block;
	margin:0 0 10px 20px;
	padding:8px 0;
	color:#0c0a09;
	text-transform:uppercase;
	border:none;
	background:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	user-select:none;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button:after, .portfolio-shortcode .portfolio_filter_buttons .filter_button:before {
	content:'';
	position:absolute;
	width:100%;
	height:1px;
	background:#372d2b;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button:before {
	left:-100%;
	bottom:20%;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button:after {
	left:100%;
	top:20%;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button:hover, .portfolio-shortcode .portfolio_filter_buttons .filter_button.current-category { color:#372d2b; }
.portfolio-shortcode .portfolio_filter_buttons .filter_button.current-category:after { left:-100%; }
.portfolio-shortcode .portfolio_filter_buttons .filter_button.current-category:before { left:100%; }
.portfolio-shortcode .portfolio_filter_buttons .filter_button:hover:after, .portfolio-shortcode .portfolio_filter_buttons .filter_button:hover:before {
	-webkit-transition:all 0.65s ease;
	-moz-transition:all 0.65s ease;
	-o-transition:all 0.65s ease;
	transition:all 0.65s ease;
	-webkit-transition-delay:0.15s;
	-moz-transition-delay:0.15s;
	-o-transition-delay:0.15s;
	transition-delay:0.15s;
}
.portfolio-shortcode .portfolio_filter_buttons .filter_button:hover:after { left:-100%; }
.portfolio-shortcode .portfolio_filter_buttons .filter_button:hover:before { left:100%; }
.portfolio-shortcode .portfolio_wrapper { overflow:hidden; }
.portfolio-shortcode .portfolio_wrapper .portfolio-item {
	background-color:;
	position:relative;
	overflow:hidden;
	float:left;
	width:0;
	margin:0 0 0 0;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail {
	overflow:hidden;
	height:100%;
	padding:0;
	margin:0;
	background:#000;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail .enlarge-icon {
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
	position:absolute;
	display:block;
	top:50%;
	left:50%;
	margin:-47px 0 0 -47px;
	width:95px;
	height:95px;
	text-align:center;
	color:#fff;
	z-index:5;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	transition:all 0.5s ease;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
	visibility:hidden;
	opacity:0;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail .enlarge-icon:before {
	content:'\f00e';
	font:57px/95px FontAwesome;
	color:rgba(255,255,255,0.2);
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail img {
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
	-webkit-transform:scale(1) rotate(0deg);
	transform:scale(1) rotate(0deg);
	max-width:none;
	width:100%;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail a:hover .enlarge-icon {
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	visibility:visible;
	opacity:1;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item .thumbnail a:hover img {
	-webkit-transform:scale(1.2) rotate(10deg);
	transform:scale(1.2) rotate(10deg);
	opacity:0.3;
	filter:alpha(opacity=30);
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item.portfolio-item-with-appearance .thumbnail {
	-webkit-transition:all 1s ease;
	-moz-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
	opacity:1;
}
.portfolio-shortcode .portfolio_wrapper .portfolio-item.object-hidden .thumbnail {
	-webkit-transform:scale(.35);
	-moz-transform:scale(.35);
	-ms-transform:scale(.35);
	-o-transform:scale(.35);
	transform:scale(.35);
	opacity:0;
}
.posts-grid { margin-top:-14px; }
.posts-grid.style-1 h5 { display:none; }
.posts-grid .post_meta {
	border:0;
	padding:0;
	margin-bottom:23px;
}
.posts-grid .post_meta time { font-size:15px; }
.posts-grid li { margin-bottom:33px; }
.posts-grid li .featured-thumbnail { margin-bottom:22px; }
.soc-1 {
	width:76px;
	height:76px;
	border:1px solid rgba(255,255,255,0.2);
	border-radius:500px;
	display:block !important;
	position:relative;
	margin-top:13px;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
.soc-1:before { line-height:78px; }
.soc-1:after {
	position:absolute;
	z-index:-1;
	content:'';
	left:50%;
	top:50%;
	width:0;
	height:0;
	background-color:#372d2b;
	border-radius:500px;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
}
.soc-1:hover {
	color:#fff;
	border-color:#372d2b;
}
.soc-1:hover:after {
	width:110%;
	height:110%;
}
.map-1 { height:548px; }
.hashAncor {
	position:relative;
	top:-70px;
}
.footer {
	background:none;
	border:0;
	padding:0;
	text-align:center;
	font-weight:normal;
	padding-bottom:60px;
	z-index:0;
	border-top:2px solid #372d2b;
}
.footer .footer-text { float:none; }
.footer .footer-nav li a:hover { color:#9f541d; }
.footer .footer-nav li.current_page_item a { color:#9f541d; }
#back-top span { background-color:#372d2b; }
#back-top a {
	-webkit-transition:background-color 0.3s ease;
	-moz-transition:background-color 0.3s ease;
	-o-transition:background-color 0.3s ease;
	transition:background-color 0.3s ease;
}
#back-top a:hover span { background-color:#9f541d; }
#back-top-wrapper { z-index:110 !important; }
.zoom-icon { background-color:rgba(0,0,0,0.8); }
.zoom-icon:before {
	background:none;
	content:'';
	font:57px/57px 'FontAwesome';
	color:rgba(255,255,255,0.2);
	width:57px;
	height:57px;
	margin-left:-28px;
	margin-top:-28px;
}
.post_wrapper .post {
	background:none;
	color:inherit;
}
.post_content {
	text-align:left;
	padding:18px 0;
}
.post_content h3 {
	font-size:20px;
	line-height:27px;
	font-weight:bold;
	text-align:left;
}
.post .post-title {
	margin-bottom:0px;
	font-size:20px;
	line-height:27px;
	font-weight:bold;
	text-align:left;
}
.post .excerpt h3 {
	text-align:left;
	color:#372d2b;
	font-size:15px;
	line-height:24px;
	text-transform:none;
	font-weight:300 !important;
	margin-bottom:0;
	margin-top:0px;
}
.post .featured-thumbnail.large { margin:0; }
.post>.post_meta {
	margin-top:-10px;
	padding:0 28px 18px 0;
}
.post_meta {
	font-size:14px;
	line-height:24px;
	padding:0;
	border:0;
	font-weight:normal !important;
}
.post_meta_unite { padding:0 !important; }
.post_meta i {
	position:relative;
	top:4px;
	color:#bab5b1;
	font-size:23px;
	line-height:24px;
	padding-right:10px;
}
.post_meta i.icon-comments:before { content:'' !important; }
.post_meta i.icon-calendar:before { content:'' !important; }
.share-buttons { padding-top:17px; }
.clearfix { *zoom:1; }
.clearfix:before, .clearfix:after {
	display:table;
	content:"";
	line-height:0;
}
.clearfix:after { clear:both; }
.hide-text {
	font:0/0 a;
	color:transparent;
	text-shadow:none;
	background-color:transparent;
	border:0;
}
.input-block-level {
	display:block;
	width:100%;
	min-height:34px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.btn, .btn-primary, .btn-default, .btn-normal, .btn-inline {
	overflow:hidden !important;
	background:none !important;
	text-shadow:none;
	box-shadow:none;
	font:bold 20px/27px 'Lato', sans-serif !important;
	border:0;
	padding:18px 29px 15px !important;
	border-radius:0px;
	color:#fff !important;
	position:relative;
	text-transform:uppercase;
	overflow:hidden;
	z-index:1;
	margin-top:0;
	position:relative;
	-webkit-transition:0.3s ease !important;
	-moz-transition:0.3s ease !important;
	-o-transition:0.3s ease !important;
	transition:0.3s ease !important;
	text-align:center;
	min-width:116px;
}
.btn.btn-1, .btn-primary.btn-1, .btn-default.btn-1, .btn-normal.btn-1, .btn-inline.btn-1 { margin-bottom:52px; }
.btn.btn-2, .btn-primary.btn-2, .btn-default.btn-2, .btn-normal.btn-2, .btn-inline.btn-2 { margin-bottom:54px; }
.btn:visited, .btn:active, .btn-primary:visited, .btn-primary:active, .btn-default:visited, .btn-default:active, .btn-normal:visited, .btn-normal:active, .btn-inline:visited, .btn-inline:active {
	background:none !important1;
	text-shadow:none;
	box-shadow:none;
	color:#fff !important;
	z-index:1;
}
.btn:hover, .btn:focus, .btn:active, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-normal:hover, .btn-normal:focus, .btn-normal:active, .btn-inline:hover, .btn-inline:focus, .btn-inline:active {
	background:none !important;
	box-shadow:none !important;
}
.btn:hover strong, .btn:focus strong, .btn:active strong, .btn-primary:hover strong, .btn-primary:focus strong, .btn-primary:active strong, .btn-default:hover strong, .btn-default:focus strong, .btn-default:active strong, .btn-normal:hover strong, .btn-normal:focus strong, .btn-normal:active strong, .btn-inline:hover strong, .btn-inline:focus strong, .btn-inline:active strong {
	opacity:1;
	filter:alpha(opacity=100);
	height:26%;
}
.btn strong, .btn-primary strong, .btn-default strong, .btn-normal strong, .btn-inline strong {
	position:absolute;
	left:0;
	top:0;
	background-color:#9f541d;
	-webkit-transition:0.4s ease;
	-moz-transition:0.4s ease;
	-o-transition:0.4s ease;
	transition:0.4s ease;
	z-index:-1;
	width:0;
	height:0;
	opacity:0;
	width:100%;
}
.btn strong+strong, .btn-primary strong+strong, .btn-default strong+strong, .btn-normal strong+strong, .btn-inline strong+strong { top:25%; }
.btn strong+strong+strong, .btn-primary strong+strong+strong, .btn-default strong+strong+strong, .btn-normal strong+strong+strong, .btn-inline strong+strong+strong { top:50%; }
.btn strong+strong+strong+strong, .btn-primary strong+strong+strong+strong, .btn-default strong+strong+strong+strong, .btn-normal strong+strong+strong+strong, .btn-inline strong+strong+strong+strong { top:75%; }
.btn:before, .btn-primary:before, .btn-default:before, .btn-normal:before, .btn-inline:before {
	background-color:#372d2b;
	position:absolute;
	content:'';
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:-1;
	-webkit-transition:0.3s ease;
	-moz-transition:0.3s ease;
	-o-transition:0.3s ease;
	transition:0.3s ease;
}
@media only screen and (max-width: 1199px) {
	.google-map-api { height:400px; }
	body h1, body h2, body h3 {
		font-size:40px;
		line-height:46px;
	}
}
@media only screen and (max-width: 979px) {
	.google-map-api { height:400px; }
	body h1, body h2, body h3 {
		font-size:22px !important;
		line-height:26px !important;
	}
	.logo {
		width:auto;
		margin-bottom:30px;
	}
	.logo img { max-width:100%; }
	.main-holder .header .search-form { margin-right:40px; }
	h4 { font-size:14px !important; }
	#comments .comment .children { margin-left:0; }
}
@media only screen and (max-width: 767px) {
	body { padding:0; }
	.header {
		-webkit-background-size:cover !important;
		-moz-background-size:cover !important;
		-o-background-size:cover !important;
		background-size:cover !important;
	}
	.parallax-box.parallax-1 .parallax-content { padding:150px 0 150px; }
	.spacer { height:auto; }
	.title-section { margin-top:0; }
	.select-menu { height:40px; }
	.main-holder { padding-top:80px; }
	.container {
		padding-left:15px;
		padding-right:15px;
	}
	.pseudoStickyBlock {
		display:none !important;
		height:0 !important;
		max-height:0 !important;
		top:0 !important;
	}
	#comments .comment .children { margin-left:0; }
	html #wpadminbar { position:fixed !important; }
	h1 {
		font-size:40px !important;
		line-height:42px !important;
	}
	h2 {
		font-size:30px !important;
		line-height:36px !important;
	}
	.menu-holder, .menu-holder.isStuck {
		position:absolute !important;
		left:10px !important;
		right:10px !important;
		display:block !important;
		top:0 !important;
	}
	.home .header {
		position:static;
		background-color:#372d2b;
	}
	.box-1 .testimonials .extra-wrap { clear:both; }
	.main-holder input[type="reset"], .main-holder input[type="submit"] { min-width:0; }
}
@media only screen and (max-width: 479px) {
	html #wpadminbar { position:fixed !important; }
	.comment-list .extra-wrap {
		clear:both;
		padding-top:22px;
	}
}
