/*import CherryFramework style*/
@import url("../CherryFramework/style.css");
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,300,100);

/* #General
================================================== */

body {
	font-weight: 300 !important;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
	text-transform: uppercase;

	strong {
		font-weight: 100;
	}
}

h1,h2,h3 {
	text-align: center;
}

.archive_h {
	font-size: 20px;
	line-height: 22px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}

a,
a:visited
 {
	.transition(color 0.3s ease);
	outline: medium none !important;	
	text-decoration: none !important;

	&:hover{
		text-decoration: none !important;
		outline: medium none !important;
		color: @color2;
	}
	
	&:active  {
		text-decoration: none !important;
	}
}

.wide {
	position: relative;
}

ul,ol {
	padding: 0;
	margin: 0;
}


.thumbnail,
.featured-thumbnail {
	margin-top: 0;
	box-shadow: none !important;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.main-holder {
	overflow: hidden;
	position: relative !important;
	input[type="text"],
	input[type="email"],
	textarea {
		.box-sizing(border-box);
		.placeholder(@white);
		color: @white;
		font: 300 15px/24px @custom-font-1;
		border-color: rgba(255,255,255,.2);
		background: none;
		border-radius: 0;
		box-shadow: none !important;
		height: 60px !important;
		max-width: 100%;
		padding: 19px 30px 17px !important;
		.transition(0.4s ease) !important;

		&:focus {
			border-color: @white;
		}		
	}

	#respond #commentform, #sidebar .search-form {		

			input[type="text"],
			input[type="email"],
			textarea {
				border-color: @color1;
				.placeholder(@color1);
				color: @color1;
			}

			.comment_submit {
				text-align: center;
			}
	}

	 .search-form  {
	 	input[type="text"] {
	 		width: 370px;
	 	}
	 }

	 .header .search-form {
	 	margin-right: 90px;
 		input[type="text"],
 		input[type="submit"] {
 			margin-top: 0;
 			min-width: 0 !important;
 		}
 	}

	textarea {
		height: 200px !important;
	}

	div.wpcf7 {
		margin-bottom: 37px;
		padding-top: 4px;
		p.field {
			margin-bottom: 10px;
			overflow: visible;
		}

		.submit-wrap {
			.ajax-loader {
				display: none !important;
			}
			text-align: center;
			padding-top: 20px;

			input {
				margin: 0;

				&[type="reset"] {
					margin-right: 30px;
				}
			}
		}
	}

	input[type="submit"],
	input[type="reset"] {
		text-align: center;
		min-width: 174px;
		height: 60px;
		background-color: @color1 !important;

		&:hover,
		&:focus {
			background-color: @color2 !important;
		}
	}

	.home & {
		.footer {			
			border: 0;

			@media (min-width: 1265px) {
				position: absolute;
				bottom: 0;
				left: 50%;
				z-index: 10;
				width: 1170px;
				margin: 0 0 0 -585px;
			}
		}
	}


}

.span12[data-motopress-static-file="static/static-slider.php"] {
	min-height: 0;
}


/* #Header
================================================== */

.header {
	border: 0;
	padding: 40px 0 46px;

	.home & {
		padding: 40px 0 0;
		background: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		&:after {
			display: none;
		}
	}

	background: url(images/parallax-1.jpg) center bottom no-repeat;
	.background-size(100% auto) !important;

	&:after {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		background: url(images/angle-1.png) 0 0 no-repeat;
		.background-size(100% 100%) !important;		
		content: '';
		display: block;
		height: 90px;
		z-index: -1;
	}
}

/*/ Header */


/* Logo
---------------------------------------- */

.logo {
	padding-left: 40px;

	&_tagline {
		margin: 0;		
		font-size: 20px;
		text-transform: uppercase;
		color: @white;
		padding-top: 3px;
	}

	h1 {
		text-align: left;

	}

	a {
		&:hover,
		&:visited,
		&:active  {
			color: @white !important;
		}
	}
}

/*/ Logo */



/* Navigation (Menu) 
================================================== */
.pseudoStickyBlock {
	display:none !important;
}
.menu-holder{
	position: absolute !important;
	height:100%;
	top:0;
	right:0;
	z-index:999;
	.transition(0.3s ease);
	
	.menu-icon, .menu-close-icon{
		position:absolute;
		visibility:visible;
		top:0px;
		cursor:pointer;
		z-index:5;
		width: 32px;
		height: 32px;
		text-align: center;
		
		-webkit-user-select:none;
		 -khtml-user-select:none;
		   -moz-user-select:none;
		     -o-user-select:none;
				user-select:none;
		
		&:before {
			.transition(all 0.3s ease);
			font:25px/32px FontAwesome;
			color:@white;
			display: block;
		}
		&:hover {

			&:before {
				.scale(1.2);
			}
		}
	}
	.menu-icon{
		right:34px;
		top: 32px;
		
		&:before {
			font-size: 18px;
			content:'';
		}
	}
	.menu-close-icon{
		top:-75px;
		right: 176px;
		
		&:before {
			content:'\';
		}
	}
	.menu-overlay {
		position:absolute;
		width: 0;
		top:-40px;
		right:0;
		bottom: 0;
		background: rgba(36,29,28,.9);
		z-index:-1;
	}
	.menu-wrapper {
		width: 237px;
	}
}
.menu-holder.menu-hidden {
	.menu-wrapper {
		padding:0;
		width:0;
	}
	
	ul ul {
		display: none !important;
	}

	.menu-close-icon {
	}
}
.menu-holder.isStuck {
	position:fixed !important;

	.menu-icon {
		background-color: @color1;
	}
}

.menu-wrapper {
}

@media (max-width: 767px) {
	.menu-holder.menu-holder.menu-hidden {
		height:34px;
		left:0;
		right:0;
		padding:20px;
		
		.menu-wrapper {
			width:100%;
		}
		.menu-overlay {
			width:100%;
		}
		.menu-icon, .menu-close-icon{
			display:none;
		}
	}
}

.select-menu {
	height:34px;
}

.nav__primary{
}
#topnav {
	padding: 83px 0;
	float:none;

	&>li>a {
		position: relative;
		&:before {
			content: attr(data-hover);
			position: absolute;
			opacity: 0;
			top: 0;
			overflow: hidden;
			bottom: 0;
			left: 100%;
			color: #5d504c;
			.scale(1.2);
			.transition(0.4s ease);
		}
	}
		
	li {
		position:relative;
		left:290px;
		display:block;
		padding-left: 40px;
		float:none;
		text-align: left;
		background:none;
		
		a {
			position:relative;
			display:inline-block;
			padding: 0px;
			border:none;
			z-index:3;
			background: none !important;
			text-transform: uppercase;
			
			.sf-sub-indicator{
				font-size:0;
				top: 40%;
				right:-15px;
				background:url(images/arrows-ffffff.png) 0 0px no-repeat;
			}			
		}

		.sf-sub-indicator {
			left: auto !important;
			right: -15px !important;
			top: 50% !important;
			margin-top: -5px;
			z-index: 10;
			width: 10px;
			height: 10px;
		}


		.sub-menu {
			background: rgba(36,29,28,.9);
			position:absolute;
			top: 0px;
			width:180px;
			padding: 4px 5px;
			right: 100%;		
			left: auto;

			& .sub-menu  {
				margin-left: -17px;
			}
			
			
			li {
				padding: 0;
				width:auto;
				float:none;
				display:block;
				left:0;
				text-align:center;
				background:none;
				position: relative;

				
				a {
					padding:3px 10px;
					white-space:nowrap;
					display:block;
					position: relative;
					border:none;
					font-size:17px;
					line-height:27px;
					color:#fff;
					font-weight: bold;
					
					
					
					.sf-sub-indicator{
						top: 7px;
						right: 25px !important;
						background:url(images/arrows-ffffff.png) 0 0 no-repeat;
					}
				}
			}
			li > a:hover, li.sfHover > a, li.current-menu-item > a {
				color: #5d504c;
				background:none;
				
				.sf-sub-indicator{
					background:url(images/arrows-ffffff.png) -10px 0 no-repeat;
				}
			}
		}
	}

	li:first-child{
		margin-left:0;		
	}
	li.active-menu-item > a, li.current-menu-item > a, li.sfHover > a, li a:hover, li.current_page_item > a {
		color: transparent;
		background:none;

		&:before {
			left: 0;
			opacity: 1;
			.scale(1);
		}
		
		.sf-sub-indicator{
			background:url(images/arrows-ffffff.png) -10px 0px no-repeat;
		}
	}
}
/*/ Navigation (Menu) */


/* #Content
================================================== */

.content-holder {
	z-index: 100;
	padding-top: 0;
	.home & {
		z-index: 1;
		padding: 0px;

		h2 {
			margin-bottom: 42px;
		}

		h4 {
			margin-bottom: 17px;
		}


	}
}

#content,
#sidebar {
	padding-top: 0;
}

#sidebar  {
	h3 {
		font-size: 20px;
		line-height: 27px;
	}
}

#wp-calendar caption,
#wp-calendar thead th {
	color: @color2;
}

.title-section {
	padding-top: 0;
	margin-top: -31px;


	.breadcrumb__t {
		background: none;
		border-radius: 0;
		float: right;

		li {
			text-shadow: none;
			font-size: 18px;
			line-height: 26px;
			text-transform: uppercase;
			font-weight: normal !important;

			&.divider {
				width: 42px;
				display: inline-block;
				text-align: center;

				&:after {
					font: 20px/27px 'FontAwesome';
					color: #383230;
					content: '';	
				}
			}
		}
	}

	.title-header {
		clear: both;
		padding-top: 62px;
		margin-bottom: 47px;
	}
}

.filter-wrapper  {
	strong {
		padding: 0;
	}
	.nav-pills {
		li {
			a {
				background: none !important;
				padding-top: 0;
				padding-bottom: 0;
				line-height: 24px;
				margin-top: 0;
				margin-bottom: 0;
			}

			&.active {
				a {
					background: none !important;
					color: @color2;
				}
			}
		}
	}
}

.caption__portfolio {
	h3 {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 15px;
		text-align: left;
	}
}

.thumbnail__portfolio {
	margin-bottom: 25px;
}


.testimonial  {
	background: none;
	border: 3px solid @color1;
}

/*/ Content */




/* #Comments
================================================== */

.post-author {
	background-color: transparent;
	border: 0;
	padding: 31px 25px 20px;
	border: 4px solid #372d2b;

	&_h {
		margin-bottom: 13px;
		text-align: left;
		font-size: 20px;
		line-height: 24px;
		font-weight: bold;
	}

	img {
		padding: 5px 0 0;
		background: none;
		border: 0;
	}

	&_desc {
		margin-top: 0 !important;
		font-size: 14px;
		line-height: 22px
	}

	&_link {
		margin-top: 8px;
		p {
			font-size: 15px;
			line-height: 23px;
			font-weight: normal !important;

			a {
				color: @color1;

				&:hover {
					color: #bab5b1;
				}
			}
		}
	}
}

#comments {
	padding-top: 18px;
	.comment {
		&-body {
			background-color: transparent;
			border: 4px solid #372d2b;
			padding: 20px 25px 20px;
			margin-bottom: 10px;
		}

		&-author {
			background-color: @black;
			position: relative;
			top: 7px;

			img {
				opacity: 0.2;
			}
		}

		.children {
			margin-left: 100px;
		}
	}

	.comments-h {
		font-size: 50px;
		text-align: center;
		line-height: 71px;
	}

	.links {
		font-size: 15px;
		line-height: 18px;
		text-transform: capitalize;
		font-weight: normal;
		color: #bab5b1;

		a {
			color: #bab5b1;

			&:hover {
				color: @color1;
			}
		}

		.author {			
			font-weight: bold;
		}
	}

	.comment-reply-link {
		float: right;
	}

	.comment-data {
		margin: 0 5px;
		padding: 0 10px;
		border-left: 1px solid #bab5b1;
		border-right: 1px solid #bab5b1;
		color: @color1;
		display: inline-block;
	}

	p {
		margin-bottom: 10px;
	}
}

#respond {
	h3 {
	}
}

/*/ Comments */



/* #Widgets
================================================== */
/*/ Widgets */



/* #Shortcodes
================================================== */

.parallax-box {
	&.parallax-1 {

		.parallax-content{
			padding: 291px 0 326px;
			color: @white;
			text-align: center;

			h2 {
				color: @white;
				letter-spacing: -1px;
				margin: 0 !important;
			}
		}
		margin-bottom: 38px;

		.parallax-bg {
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(images/angle-1.png) 0 0 no-repeat;
				.background-size(100% 100%) !important;		
				content: '';
				display: block;
				height: 90px;
			}
		}
	}

	&.parallax-2 {
		margin-top: 47px;

		.parallax-content{
			padding: 124px 0 165px;
			color: @white;

			h2 {
				color: @white;
				letter-spacing: -1px;
				padding-bottom: 11px;
			}

			h4 {
				color: @white;
			}
		}

		.parallax-bg {
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				background: url(images/angle-1.png) 0 0 no-repeat;
				.background-size(100% 100%) !important;		
				content: '';
				display: block;
				height: 90px;
				-webkit-transform: rotateX(180deg);
				-ms-transform: rotateX(180deg);
				-o-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}

			&:before {
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background: url(images/angle-2.png) 0 0 no-repeat;
				.background-size(100% 100%) !important;		
				content: '';
				display: block;
				height: 90px;
				z-index: 10;
			}
		}
	}

	&.parallax-3 {
		.parallax-content{
			padding: 140px 0 22px;
			color: @white;
			text-align: center;

			h2 {
				color: @white;
				letter-spacing: -1px;
				padding-bottom: 11px;
			}

			h4 {
				color: @white;
				margin-bottom: 6px;
			}

			a {
				color: @white;

				&:hover {
					color: @color2;
				}
			}

			figure.aligntextcenter {
				display: inline-block;

				&+figure.aligntextcenter  {
					margin-left: 11px;
				}
			}
		}

		.parallax-bg {
			&:after {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				background: url(images/angle-1.png) 0 0 no-repeat;
				.background-size(100% 100%) !important;		
				content: '';
				display: block;
				height: 90px;
				-webkit-transform: rotateX(180deg);
				-ms-transform: rotateX(180deg);
				-o-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}
		}
	}

	
}

.spacer {
	height: 26px;
	clear: both;
}

.content_box {
	padding: 54px 0 21px;
	color: @white;
	background-color: #241d1c;
	margin-bottom: 73px;

	&:after {
		display: none;
	}

	&:before {
		left: -3000px;
		right: -3000px;
		background-color: #241d1c;
		z-index: -1;
		top: 0;
		bottom: 0;
		width: auto !important;
	}
}

.testimonials {
	.testi-item {
		blockquote {
			&:before,
			&:after {
				display: none;
			}

			a {
				color: @white;

				&:hover {
					color: @color2;
				}
			}
			i {
				margin-bottom: 11px;
				padding-top: 28px;
				display: block;
				font-size: 76px;
			}
			padding: 0;
			background: none;
			border-radius: 0;
			.featured-thumbnail {
				margin-left: 0;
				margin-right: 30px;
				width: auto;
				height: auto;

				img {
					border-radius: 500px;
				}
			}

			.testi-meta {
				padding-top: 21px;
				padding-left: 0;
				font-size: 18px;
				font-weight: bold;

				.user {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}


.portfolio-shortcode {
	position: relative;
	margin-bottom: 49px;
	padding-top: 5px;
	
	.portfolio_filter_buttons {
		overflow:hidden;
		text-align:center;	
		
		.filter_button{
			.transition(all 0.35s ease);
			position:relative;
			cursor:pointer;
			overflow:hidden;
			display:inline-block;
			margin:0 0 10px 20px;
			padding:8px 0;
			color:@linkColorHover;
			text-transform:uppercase;
			border:none;
			background:none;
			
			-webkit-user-select:none;
			 -khtml-user-select:none;
			   -moz-user-select:none;
				 -o-user-select:none;
					user-select:none;
			
			
			&:after, &:before{
				content:'';
				position:absolute;
				width:100%;
				height:1px;
				background:@linkColor;
			}
			
			&:before{
				left:-100%;
				bottom:20%;
			}
			&:after {
				left:100%;
				top:20%;
			}
	
			&:hover, &.current-category {
				color:@linkColor;
			}
			&.current-category {
				&:after{
					left:-100%;
				}
				&:before{
					left:100%;
				}
			}
		}
		.filter_button:hover {
			
			&:after, &:before {
				.transition(all 0.65s ease);
				.transition-delay(0.15s);
			}
			&:after{
				left:-100%;
			}
			&:before{
				left:100%;
			}
		}
	}

	.portfolio_wrapper {
		overflow:hidden;
		
		.portfolio-item {
			background-color: @colo6;
			position:relative;
			overflow:hidden;
			float:left;
			width:0;
			margin:0 0 0 0;			
			
			.thumbnail {
				overflow:hidden;
				height:100%;
				padding:0;
				margin:0;
				background: #000;
				
				
				.enlarge-icon {
					.border-radius(50%);
					position:absolute;
					display:block;
					top:50%;
					left:50%;
					margin:-47px 0 0 -47px;
					width:95px;
					height:95px;
					text-align:center;
					color:#fff;
					z-index:5;
					
					.transition(all 0.5s ease);
					.scale(0);			
					visibility:hidden;
					opacity:0;
								
					&:before{
						content:'\f00e';
						font:57px/95px FontAwesome;
						color: rgba(255,255,255,.2);
					}
				}
				
				img{
					.transition(all 0.3s ease);
					-webkit-transform: scale(1) rotate(0deg);
							transform: scale(1) rotate(0deg);
							
					max-width:none;
					width:100%;
				}
						
				a:hover{
					.enlarge-icon {
						.scale(1);		
						visibility:visible;
						opacity:1;
					}
					img{
						-webkit-transform: scale(1.2) rotate(10deg);
								transform: scale(1.2) rotate(10deg);
								.opacity(30);
					}
				}
			}
		}
		.portfolio-item.portfolio-item-with-appearance {
			.thumbnail{
				.transition(all 1s ease);
				.scale(1);
				opacity:1;
			}
		}
		.portfolio-item.object-hidden {
			.thumbnail{
				.scale(.35);
				opacity:0;
			}
		}
		
		@media (max-width: 1920px) {
			.portfolio-item {
				
			}
		  }
		@media (max-width: 1670px) { 
			.portfolio-item {
				
			}
		}
		@media (min-width: 981px) and (max-width: 1200px) {
			.portfolio-item {
				
			}
		}
		@media (min-width: 768px) and (max-width: 979px) {
			.portfolio-item {
				
			}
		}
		@media (max-width: 767px) {
			.portfolio-item {
				
			}
		}
		@media (max-width: 550px) {
			.portfolio-item {
				
			}
		}
		@media (min-width: 1921px) {
			.portfolio-item {
				
			}
		}
	}
}

.posts-grid {
			margin-top: -14px;
	&.style-1 {
		h5 {
			display: none;
		}
	}

	.post_meta {
		border: 0;
		padding: 0;
		margin-bottom: 23px;

		time {
			font-size: 15px;
		}
	}

	li {
		.featured-thumbnail {
			margin-bottom: 22px;
		}

		margin-bottom: 33px;
	}
}

.soc-1 {
	width: 76px;
	height: 76px;
	border: 1px solid rgba(255,255,255,.2);
	border-radius: 500px;
	display: block !important;
	position: relative;
	margin-top: 13px;
	.transition(0.3s ease);		

	&:before {
		line-height: 78px;
	}

	&:after {
		position: absolute;
		z-index: -1;
		content: '';
		left: 50%;
		top: 50%;
		width: 0;
		height: 0;
		background-color: @color1;
		border-radius: 500px;
		.transition(0.3s ease);		
		.translate(-50%, -50%);
	}

	&:hover {
		color: @white;
		border-color: @color1;

		&:after {
			width: 110%;
			height: 110%;
		}
	}
}



.map-1 {
	height: 548px;
}


.hashAncor {
	position: relative;
	top: -70px;
}


/*/ Shortcodes */



/* #Footer
================================================== */
.footer {
	background: none;
	border: 0;
	padding: 0;
	text-align: center;
	font-weight: normal;
	padding-bottom: 60px;
	z-index: 0;
	border-top: 2px solid @color1;

	.footer-text {
		float: none;
	}

	.footer-nav {
		li {
			a {
				&:hover {
					color: @color2;
				}
			}

			&.current_page_item a {
				color: @color2;
			}
		}
	}
}
/*/ Footer */


/* #Misc
================================================== */

#back-top {
	span {
		background-color: @color1;


	}

	a {
		.transition(background-color 0.3s ease)
	}

	a:hover {
		span {
			background-color: @color2;
		}
	}
}

#back-top-wrapper {
	z-index: 110 !important;
}

.zoom-icon {
	background-color: rgba(0,0,0,.8);

	&:before {
		background: none;
		content: '';
		font: 57px/57px 'FontAwesome';
		color: rgba(255,255,255,.2);
		width: 57px;
		height: 57px;
		margin-left: -28px;
		margin-top: -28px;
	}
}

/*/ Misc */


/*/ Blog */

.post_wrapper {
	.post {
		background: none;
		color: inherit;
	}	
}

	.post {
		&_content {
			text-align: left;
			padding: 18px 0;

			h3 {
				font-size: 20px;
				line-height: 27px;
				font-weight: bold;
				text-align: left;
			}
		}

		.post-title {
			margin-bottom: 0px;
			font-size: 20px;
			line-height: 27px;
			font-weight: bold;
			text-align: left;
		}

		.excerpt {
			h3 {
				text-align: left;
				color: #372d2b;
				font-size: 15px;
				line-height: 24px;
				text-transform: none;	
				font-weight: 300 !important;
				margin-bottom: 0;
				margin-top: 0px;
			}
		}

		.featured-thumbnail.large {
			margin: 0;
		}

		&>.post_meta  {	
		margin-top: -10px;		
			padding: 0 28px 18px 0;
		}

		&_meta {
			font-size: 14px;
			line-height: 24px;
			padding: 0;
			border: 0;
			font-weight: normal !important;

			&_unite  {
				padding: 0 !important;

			}

			i {
				position: relative;
				top: 4px;
				color: #bab5b1;
				font-size: 23px;
				line-height: 24px;
				padding-right: 10px;

				&.icon-comments {
					&:before {
						content: '' !important;
					}
				}

				&.icon-calendar {
					&:before {
						content: '' !important;
					}
				}
			}

			a {
				// color: @white;


				&:hover {
				}
			}
		}
	}

.share-buttons {
	padding-top: 17px;
}
/*/ End Blog */

@import "bootstrap/less/variables.less";
@import "bootstrap/less/mixins.less";


.btn,
.btn-primary,
.btn-default,
.btn-normal,
.btn-inline {
	overflow: hidden !important;
	background: none !important;
	text-shadow: none;
	box-shadow: none;
	font: bold 20px/27px @custom-font-1 !important; 	
	border: 0;
	padding: 18px 29px 15px !important;
	border-radius: 0px;
	color: @white !important;
	position: relative;
	text-transform: uppercase;
	overflow: hidden;
	z-index: 1;
	margin-top: 0;
	position: relative;
	.transition(0.3s ease) !important;
	text-align: center;
	min-width: 116px;

	&.btn-1 {
		margin-bottom: 52px;
	}

	&.btn-2 {
		margin-bottom: 54px;
	}


	&:visited,
	&:active {
		background: none !important1;
		text-shadow: none;
		box-shadow: none;
		color: @white !important;
		z-index: 1;
	}

	&:hover,
	&:focus,
	&:active {
		 background: none !important;
		 box-shadow: none !important;

		strong {
			.opacity(100);
			height: 26%;
		}
	}

	strong {
		position: absolute;
		left: 0;
		top: 0;
		background-color: @color2;
		.transition(0.4s ease);
		z-index: -1;
		width: 0;
		height: 0;
		opacity: 0;
		width: 100%;

		&+strong {
			top: 25%;

			&+strong {
				top: 50%;

				&+strong {
					top: 75%;
				}
			}
		}
	}

	&:before {
		background-color: @color1;
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		.transition(0.3s ease);
	}

	// &:hover {
	// 	color: @color2 !important;
	// 	background: none;

	// 	strong {
	// 		.opacity(100);
	// 		width: 100%;
	// 	}
	// }	


}



@media only screen and (max-width: 1199px) {
	
	.google-map-api {
		height: 400px;
	}

	body {
		h1,h2,h3 {
			font-size: 40px;
			line-height: 46px;
		}
	}

}

@media only screen and (max-width: 979px) { 
	
	.google-map-api {
		height: 400px;
	}

	body {
		h1,h2,h3 {
			font-size: 22px !important;
			line-height: 26px !important;
		}
	}

	.logo {
		width: auto;

		img {
			max-width: 100%;
		}

		margin-bottom: 30px;
	}

	.main-holder .header .search-form {
		margin-right: 40px;
	}

	h4 {
		font-size: 14px !important;
	}

	#comments .comment .children {
		margin-left: 0;
	}
}

@media only screen and (max-width: 767px) { 

	
	body {
		padding: 0;
	}
	.header {
		.background-size(cover) !important;
	}


	.parallax-box {
		&.parallax-1 {

			.parallax-content{
				padding: 150px 0 150px;
			}
		}
	}

	.spacer {
		height: auto;
	}

	.title-section {
		margin-top: 0;
	}

	.select-menu {
		height: 40px;
	}

	.main-holder {
		padding-top: 80px;
	}

	.container {
		padding-left: 15px;
		padding-right: 15px;
	}	

	.pseudoStickyBlock {
	    display: none !important;
	    height: 0 !important;
	    max-height: 0 !important;
	    top: 0 !important;
	}

	#comments .comment .children {
		margin-left: 0;
	}

	html #wpadminbar {
		position: fixed !important;
	}

	h1 {
		font-size: 40px !important;
		line-height: 42px !important; 
	}

	h2 {
		font-size: 30px !important;
		line-height: 36px !important;
	}

	.menu-holder,
	.menu-holder.isStuck {
		position: absolute !important;
		left: 10px !important;
		right: 10px !important;
		display: block !important;
		top: 0 !important;
	}

	.home .header {
		position: static;
		background-color: @color1;
	}

	.box-1 .testimonials {
		.extra-wrap {
			clear: both;
		}
	}

	.main-holder {
		input[type="reset"] 
		,input[type="submit"]  {
			min-width: 0;
		}		
	}

}


@media only screen and (max-width: 479px) { 


	html #wpadminbar {
		position: fixed !important;
	}

	.comment-list {
		.extra-wrap {
			clear: both;
			padding-top: 22px;
		}
	}
		
}