/*--
	Theme Name: theme53145
	Theme URI: http://info.template-help.com/help/
	Description: A theme for Wordpress 3.8.x
	Author: Template_Help.com
	Author URI: http://info.template-help.com/help/
	Template: CherryFramework
	Version: 3.1.2
--*/

/* ----------------------------------------
	Please, You may put custom CSS here
---------------------------------------- */

body {
font-size:18px;
line-height: 30px;
}

.parallax-box.parallax-1 .parallax-bg::after{
 background-image: url("images/angle-1-w.png") !important;
}

.parallax-box.parallax-2 .parallax-bg::after {
 background-image: url("images/angle-1-w.png") !important;
}

.parallax-box.parallax-2 .parallax-bg::before {
 background-image: url("images/angle-2-w.png") !important;
}

.page-id-203 #post-203 h4 a{
color:#fff !important;
}

.parallax-box.parallax-1 .parallax-content {
    color: #fff;
    padding: 191px 0 226px !important;
    text-align: center;
}